{% extends 'base.html' %}

{% block title %}Candidate Profiles{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h3>Candidate Profiles</h3>
            </div>
            {% if candidates %}
                {% for candidate in candidates %}
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>{{candidate.name}}</h3>
                            <h4>{{candidate.roll}}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
