{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block body %}

    <div class="container">
            <a href="{% url 'candidate_signup' %}" class="btn btn-lg btn-primary" role="button">Sign up as Candidate</a>
            <a href="{%  url 'voter_signup' %}" class="btn btn-lg btn-primary" role="button">Sign up as Voter</a>
            <a href="{%  url 'candidate_login' %}" class="btn btn-lg btn-primary" role="button">Log in as Candidate</a>
            <a href="{%  url 'voter_login' %}" class="btn btn-lg btn-primary" role="button">Log in as Voter</a>


    </div>

{% endblock %}
