{% extends 'base.html' %}
{% block title %}Voter Details{% endblock %}
{% block body %}
    {% if messages %}
        {% for message in messages %}
        <script>
            alert('{{ message }}');
        </script>
        {% endfor %}
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>My Profile</h2>
                <h3>{{ voter.name }}</h3>
                <h4>{{ voter.roll }}</h4>
            </div>
        </div>
    </div>
{% endblock %}