.navbar-default {
  background-color: #457091;
  border-color: #79a8ca;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #d3da5d;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #d3da5d;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #d3da5d;
  background-color: #79a8ca;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #d3da5d;
  background-color: #79a8ca;
}
.navbar-default .navbar-toggle {
  border-color: #79a8ca;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #79a8ca;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #d3da5d;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d3da5d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d3da5d;
    background-color: #79a8ca;
  }
}

.nav .navbar{
    border-radius: 0;
}

div{
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    font-family: Roboto;
}

navigation {
width: 180px;
font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-weigth: bold;
}

navigation ul {
list-style: none;
margin: 0;
padding: 0;
}

navigation li {
border-bottom: 1px solid #C3DBFB;
}

navigation li a:link, #navigation li a:visited {
display: block;
padding: 5px 5px 5px 0.5em;
border-left: 12px solid #033CC2;
border-right: 1px solid #033CC2;
background-color: #5386F2;
color: #FFFFFF;
text-decoration: none;
  <font color='Red'>  width: 100%; </font>
}

navigation li a:hover {
background-color: #033CC2;
color: #FFFFFF;
}
